<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel app</title>
    <script
      src="https://kit.fontawesome.com/eab8467d07.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://iconarchive.com/download/i107646/google/noto-emoji-travel-places/42586-airplane.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li class="active">
            <a href="#">Home</a><i class="fa-solid fa-house"></i>
          </li>
          <li>
            <a href="#">Upcoming</a><i class="fa-solid fa-calendar-day"></i>
          </li>
          <li><a href="#">Saved</a><i class="fa-solid fa-bookmark"></i></li>
          <li>
            <a href="#">History</a><i class="fa-solid fa-clock-rotate-left"></i>
          </li>
        </ul>
      </nav>
      <div class="profile-main">
        <div class="profile-row">
          <div class="profile-info">John Doe</div>
          <img
            src="https://thispersondoesnotexist.com/image"
            alt="John Doe"
            class="profile-image"
          />
          <div class="profile-info">Joined: 24/04/22</div>
        </div>
      </div>
      <div class="explore-wrapper">
        <button class="primary">Explore</button>
      </div>
    </main>
  </body>
</html>
