<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel app</title>
    <script
      src="https://kit.fontawesome.com/eab8467d07.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://iconarchive.com/download/i107646/google/noto-emoji-travel-places/42586-airplane.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li class="active">
          <a href="/"><span>Home</span><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="#">
            <span>Upcoming</span> <i class="fa-solid fa-calendar-day"> </i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Saved</span> <i class="fa-solid fa-bookmark"> </i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>History</span> <i class="fa-solid fa-clock-rotate-left"> </i>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <div class="top">
        <div>
          <h1>London</h1>
          <div class="subtitle">England, United Kingdom</div>
        </div>
        <div class="bookmark"><i class="fa-solid fa-bookmark"></i>Save</div>
      </div>
      <form action="/confirm" method="post">
        <h2>Book trip</h2>
        <label for="from">From</label><input type="date" id="from" />
        <label for="to">To</label><input type="date" id="to" />
        <label for="tag">Tag</label><input type="text" id="tag" />
        <div class="button-row">
          <button class="error">Back</button>
          <button class="primary">Confirm</button>
        </div>
      </form>
      <table class="weather-list">
        <thead>
          <tr>
            <th>Date</th>
            <th>Humidity</th>
            <th>Weather</th>
            <th>Max/Min</th>
            <th>Sun rise/set</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02/05</td>
            <td><i class="fa-solid fa-droplet"></i> 5%</td>
            <td><i class="fa-solid fa-cloud-sun-rain"></i></td>
            <td>18/9</td>
            <td>08:00/17:30</td>
          </tr>
          <tr>
            <td>02/05</td>
            <td><i class="fa-solid fa-droplet"></i> 5%</td>
            <td><i class="fa-solid fa-cloud-sun-rain"></i></td>
            <td>18/9</td>
            <td>08:00/17:30</td>
          </tr>
          <tr>
            <td>02/05</td>
            <td><i class="fa-solid fa-droplet"></i> 5%</td>
            <td><i class="fa-solid fa-cloud-sun-rain"></i></td>
            <td>18/9</td>
            <td>08:00/17:30</td>
          </tr>
          <tr>
            <td>02/05</td>
            <td><i class="fa-solid fa-droplet"></i> 5%</td>
            <td><i class="fa-solid fa-cloud-sun-rain"></i></td>
            <td>18/9</td>
            <td>08:00/17:30</td>
          </tr>
          <tr>
            <td>02/05</td>
            <td><i class="fa-solid fa-droplet"></i> 5%</td>
            <td><i class="fa-solid fa-cloud-sun-rain"></i></td>
            <td>18/9</td>
            <td>08:00/17:30</td>
          </tr>
          <tr>
            <td>02/05</td>
            <td><i class="fa-solid fa-droplet"></i> 5%</td>
            <td><i class="fa-solid fa-cloud-sun-rain"></i></td>
            <td>18/9</td>
            <td>08:00/17:30</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
