<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel app</title>
    <script
      src="https://kit.fontawesome.com/eab8467d07.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://iconarchive.com/download/i107646/google/noto-emoji-travel-places/42586-airplane.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li class="active">
          <a href="/"><span>Home</span><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="#">
            <span>Upcoming</span> <i class="fa-solid fa-calendar-day"> </i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Saved</span> <i class="fa-solid fa-bookmark"> </i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>History</span> <i class="fa-solid fa-clock-rotate-left"> </i>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>London</h1>
      <div>Top 5 results</div>
      <div class="trip-wrapper">
        <div class="search-card">
          <div class="card-top">
            <div class="location">
              <div>London</div>
              <div>Capital of a political entity</div>
            </div>
            <div class="coords">
              <div>Long: N 51&deg; 31' 33''</div>
              <div>Lat: W 0&deg; 7' 32''</div>
            </div>
          </div>
          <div class="card-main">England, United Kingdom</div>
          <div class="card-bottom">
            <a href="/location?name=london">Select Location</a>
          </div>
        </div>
        <div class="search-card">
          <div class="card-top">
            <div class="location">
              <div>London</div>
              <div>Capital of a political entity</div>
            </div>
            <div class="coords">
              <div>Long: N 51&deg; 31' 33''</div>
              <div>Lat: W 0&deg; 7' 32''</div>
            </div>
          </div>
          <div class="card-main">England, United Kingdom</div>
          <div class="card-bottom">
            <a href="/location?name=london">Select Location</a>
          </div>
        </div>
        <div class="search-card">
          <div class="card-top">
            <div class="location">
              <div>London</div>
              <div>Capital of a political entity</div>
            </div>
            <div class="coords">
              <div>Long: N 51&deg; 31' 33''</div>
              <div>Lat: W 0&deg; 7' 32''</div>
            </div>
          </div>
          <div class="card-main">England, United Kingdom</div>
          <div class="card-bottom">
            <a href="/location?name=london">Select Location</a>
          </div>
        </div>
        <div class="search-card">
          <div class="card-top">
            <div class="location">
              <div>London</div>
              <div>Capital of a political entity</div>
            </div>
            <div class="coords">
              <div>Long: N 51&deg; 31' 33''</div>
              <div>Lat: W 0&deg; 7' 32''</div>
            </div>
          </div>
          <div class="card-main">England, United Kingdom</div>
          <div class="card-bottom">
            <a href="/location?name=london">Select Location</a>
          </div>
        </div>
        <div class="search-card">
          <div class="card-top">
            <div class="location">
              <div>London</div>
              <div>Capital of a political entity</div>
            </div>
            <div class="coords">
              <div>Long: N 51&deg; 31' 33''</div>
              <div>Lat: W 0&deg; 7' 32''</div>
            </div>
          </div>
          <div class="card-main">England, United Kingdom</div>
          <div class="card-bottom">
            <a href="/location?name=london">Select Location</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
