<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel app - Upcoming</title>
    <script
      src="https://kit.fontawesome.com/eab8467d07.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://iconarchive.com/download/i107646/google/noto-emoji-travel-places/42586-airplane.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/"><span>Home</span><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="active">
          <a href="/upcoming">
            <span>Upcoming</span> <i class="fa-solid fa-calendar-day"> </i>
          </a>
        </li>
        <li>
          <a href="/saved">
            <span>Saved</span> <i class="fa-solid fa-bookmark"> </i>
          </a>
        </li>
        <li>
          <a href="/history">
            <span>History</span> <i class="fa-solid fa-clock-rotate-left"> </i>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>Upcoming trip</h1>
      <div id="upcoming-trip"></div>
    </main>
  </body>
</html>
