.profile-main {
  background-image: url(https://loremflickr.com/640/480);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  background-size: 100% 17rem;
  margin-bottom: 2rem;
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 0 0.8rem;
  position: absolute;
  width: 100%;
  top: 19rem;
  box-sizing: border-box;
  & > div {
    align-self: flex-end;
    font-size: 1.4rem;
    flex: 1;
    &:last-child {
      text-align: end;
    }
  }
  img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0 0 4px black;
  }
}
