:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

h1,
h2 {
  padding: 0 0.2rem;
  margin: 0;
  & + .subtitle {
    font-style: italic;
    font-size: 1.6rem;
    color: #6e6e6e;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
  }
}

.hidden {
  display: none;
}
